/*  your css code here. If applicable */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:black;
  margin: 0;
	/* border-radius:10px; */
}

.container {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  gap: 4px;
  width: 800px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: pink;
 border:2px solid red;
 
}
