/*  your css code here. If applicable */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  gap: 4px;
  width: 800px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #1d1d1d;
  /* transition: background-color 1s ease; */
}
