body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: wheat;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(40, 20px);
  gap: 4px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: pink;
  transition: background-color 1s ease;
}
